<div class="InterfaceEnseignant">
    <img src="../../assets/NombreEleves.png" alt="NombreElevesIcon" id="NombreElevesIcon">
    <h1 style="font-family: Poppins;">Consulter groupes</h1>
</div>

<div class="row border-top border-bottom mt-5">
    <div class="col-3 offset-1 mt-3">
        <p class="font-weight-bold " style="font-size: 20px;">Liste des groupes</p>    
    </div>
</div>
<div class="content mt-4">
    <form action="#" class="d-flex align-items-center w-50 justify-content-center offset-4">
        <div>
            <input type="text" name='nom' id="nom"  class="form-control w-100 mr-5" placeholder="Nom du groupe" style="font-family: Poppins;">     
        </div>
        
            <div class="input-group ">
                <input type="submit" class="btn btn-success input-group-text" value="Rechercher" style="font-family: Poppins;">
            </div>
    </form>


    <app-prof-slot></app-prof-slot>
</div>