img {
    height: 50px;
    width: 50px;
}

img:hover {
    cursor: pointer;
}

.show {
    display: none;
}

.shown {
    width: 60vw;
    overflow: show;
}

.slot {
    max-height: max-content;
}

.expandMenu {
    animation-name: expand;
    animation-duration: 1s;
    height: 100%;
    overflow: hidden;
    display: block;
}

.wrapMenu {
    animation: wrapM 1s;
    overflow-y: hidden;
   display: none;
}

.expandArrow {
    animation-name: rotate;
    animation-duration: 1s;
    transform: rotate(180deg);
}

.wrapArrow {
    animation: rrotate 1s;
    transform: rotate(0deg);
}



@keyframes expand {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rrotate {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes wrapM {
    from {
        height: 100%;
        display: block;
    }
    to {
        height: 0%;
        display: none;
    }
}
#circular-img {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    display: block;
    margin: 0 auto; 
    
}


.move-left {
    margin-right: auto;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: calc(50% - 1rem); 
    max-width: calc(50% - 1rem); 
    box-sizing: border-box;
    margin-bottom: 1rem; 
}

@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
        max-width: 100%;
    }
}
#Matieres {
    width: calc(50% - 1rem); 
    height: calc(50% - 1rem); 
    object-fit: cover;
    display: block;
    margin: 0 auto; 
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: calc(50% - 1rem); 
    max-width: calc(50% - 1rem); 
    box-sizing: border-box;
    margin-bottom: 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: 0.25rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0); 
    transition: all 0.3s ease; 
}

.card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 0.5rem 1.5rem rgba(228, 26, 26, 0.534); 
}

