<div class="cont">
<header>
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="aboutus">À propos de nous</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="about-us">
    <div class="container">
      <h1>À propos de nous</h1>
      <p>Bienvenue chez Votre Équipe d'Application Éducative ! Nous sommes une équipe de trois développeurs frontend passionnés, dédiés à la création d'applications éducatives innovantes qui inspirent l'apprentissage et l'engagement.</p>
      <div class="team-members">
        <div class="member">
          <div class="member-card animated-card">
            <img src="../../assets/koussay.jpg" alt="Koussay Dhifi">
            <h2>Koussay Dhifi</h2>
            <p>Développeur Principal</p>
            <p>Avec une solide expérience en génie logiciel, Koussay guide notre équipe dans la création d'applications éducatives puissantes et conviviales.</p>
          </div>
        </div>
        <div class="member">
          <div class="member-card animated-card">
            <img src="../../assets/seif.jpg" alt="Seifeddine Jaziri">
            <h2>Seifeddine Jaziri</h2>
            <p>Designer UI/UX</p>
            <p>Seifeddine est notre génie créatif, concevant des interfaces captivantes qui rendent l'apprentissage agréable.</p>
          </div>
        </div>
        <div class="member">
          <div class="member-card animated-card">
            <img src="../../assets/Firas.jpg" alt="Firas El Mahdi">
            <h2>Firas El Mahdi</h2>
            <p>Créateur de Contenu</p>
            <p>Firas s'assure que nos applications sont remplies de contenu enrichissant, rendant l'apprentissage à la fois informatif et agréable.</p>
          </div>
        </div>
      </div>
      <p>Ensemble, nous nous efforçons de faire une impact positif dans l'éducation en utilisant la technologie pour autonomiser les apprenants de tous âges.</p>
      <p>Explorez notre site web pour en savoir plus sur nos applications et comment elles peuvent transformer notre manière d'apprendre !</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Votre Équipe d'Application Éducative. Tous droits réservés.</p>
  </footer>
</div>