<div class="content">
    <div class="InterfaceGroupe">
        <img src="../../assets/NombreEleves.png" alt="EleveIcon" id="EleveIcon">
        <h1 style="font-family: Poppins;">Ajouter</h1>
    </div>

<div class="container offset-3">
    <form action="#" class="was-validated">
        <div class="row">
            <div class="col-2">
                <label for="id" class="form-label">Identifiant du groupe: </label>
                <input type="text" class="form-control" id="id" required="true" placeholder="l'identifiant ">
            </div>
            <div class="col-5">
                <label for= "niv" class="form-label">Niveau du groupe</label>
                <input type="text" class="form-control" id="niv" placeholder="1ére/2ème/3ème/BAC">
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-2">
                <label for="idP" class="form-label">L'identifiant du Prof: </label>
                <input type="text" id="idP" class="form-control" placeholder="Identifiant du Prof">
            </div>
            <div class="col-5 mt-2">
                <label for="NomG" class="form-label">Nom du groupe: </label>
                <input type="text" class="form-control" placeholder="Groupe A / Groupe B...">
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 offset-3 ">
                <button type="submit" class="btn btn-primary  d-grid">Ajouter</button>
            </div>
        </div>
        
        
    </form>
</div>