<div class="list-group">
    <a routerLink="/"><div class="list-group-item"><img src="../../assets/Acceuil.png" alt="AcceuilLogo" class="icon">Acceuil</div></a>
    <a routerLink="/matieres"><div class="list-group-item"><img src="../../assets/Matieres.png" alt="MatieresLogo" class="icon">Matieres</div></a>
    <a routerLink=""><div class="list-group-item"><img src="../../assets/Packs.png" alt="PacksIcon" class="icon">Packs</div></a>
    <a routerLink=""><div class="list-group-item"><img src="../../assets/Emploi du temps.png" alt="Emploi du temps Icon" class="icon">Emploi du temps</div></a>
    <a routerLink=""><div class="list-group-item"><img src="../../assets/salles.png" alt="SalleIcon" class="icon">Salles</div></a>
    <a routerLink=""><div class="list-group-item"><img src="../../assets/Paiement.png" alt="paimentIcon" class="icon">Paiement</div></a>
    <a routerLink="/enseignants"><div class="list-group-item"><img src="../../assets/Enseignant.png" alt="EnseignantIcon" class="icon">Enseignants</div></a>
    <a routerLink="/eleves"><div class="list-group-item"><img src="../../assets/Eleves.png" alt="ElevesIcon" class="icon">Eleves</div></a>
    <a routerLink=""><div class="list-group-item"> <img src="../../assets/Ajouter Admin.png" alt="AjouterAdminIcon" class="icon">Ajouter Admin</div></a>
    <img src="../../assets/Admin.png" alt="AdminPhoto" class="adminPhoto">
    <p class="success">Votre chemin du succès</p>
    <img src="../../assets/shlot.png" alt="shlot">
</div>        


