<div class="InterfaceEnseignant">
    <img src="../../assets/Enseignant.png" alt="EnseignantIcon" id="NombreElevesIcon">
    <h1 style="font-family: Poppins;">Consulter Eleves</h1>
</div>

<div class="content mt-4">
    <form action="#" class="d-flex align-items-center w-50 justify-content-center offset-4">
        <div>
            <input type="text" name='nom' id="nom"  class="form-control w-100 mr-5" placeholder="Nom du l'élève" style="font-family: Poppins;">     
        </div>
        
            <div class="input-group ">
                <input type="submit" class="btn btn-success input-group-text" value="Rechercher" >
            </div>
    </form>


   <app-eleves-slot></app-eleves-slot>
</div>