<div class="InterfaceEnseignant">
    <img src="../../assets/Enseignant.png" alt="EnseignantIcon" id="NombreElevesIcon">
    <h1 style="font-family: Poppins;">Consulter Eleves</h1>
</div>

<div class="content mt-5">
    <form class="d-flex align-items-center w-50 justify-content-center">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="nom d'eleve" [(ngModel)]="Nomprenom">
      </div>
      <div class="col-auto">
        <select class="form-select w-100">
          <option selected>Choisir un niveau</option>
          <option *ngFor="let level of levelArray" [value]="level.IDLEVEL">{{level.LABEL_LEVEL}}</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    <app-eleves-slot></app-eleves-slot>
  </div>
