<div class="content">
  <div class="InterfacePacks">
    <img src="../../assets/Packs.png" alt="PacksIcon" id="PacksIcon">
    <h1 style="font-family: Poppins;">Packs</h1>
</div>
<div class="container">
  <form action="" class="was-validated">
    <div class="row mt-2">
      <div class="col-3">
        <label for="section" class="form-label">Section: </label>
        <input type="text" name="section" id="section" class="form-control">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label for="matiere">Matiere: </label>
        <select class="form-select" id="matiere" aria-label="Default select example">
            <option selected>Open </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label for="niveau">Niveau: </label>
        <select class="form-select" id="niveau" aria-label="Default select example">
            <option selected>Open </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label for="prix" class="form-label">Prix:</label>
        <input type="text" name="prix" id="prix" class="form-control">
      </div>
    </div>
    <input type="Submit" class="btn btn-primary  mt-4 " name="ButtonAjouter" value="Ajouter" id="Btn1">
   </form>
</div>
</div>
