<div class="container content w-70">
    <div class="slot w-60 ">
        <div class="shown d-flex justify-content-between">
            <h2>{{NomG}} </h2>
            <img src="../../../assets/Fleche.png" alt="Fleche" (click) = "toggleGrid()" [ngClass]="{expandArrow:expand,wrapArrow:!expand && expand !== undefined}">
        </div>
            <div class="show d-flex flex-column align-items-center border-bottom border-2 border-dark" [ngClass]="{'expandMenu':expand,wrapMenu:!expand && expand !== undefined}">
                <div class="card" style="width: 18rem;" [ngClass]="{wrapMenu:!expand}">
                    <img src="../../../assets/Teacher.png" class="card-img-top" id="circular-img">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{nomProf}} {{prenProf}}</h5>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">Identifiant du Groupe: {{idG}}</li>
                      <li class="list-group-item">Nom du groupe: {{NomG}}</li>
                      
                    </ul>
                    <div class="card-body text-center">
                        <button class="btn btn-danger " (click)="deleteSlot()">Supprimer</button>
                    </div>
                  </div>

                </div>
            </div>        
    </div>