<div class="acceuil">
    <div class="title">
        <img src="../../assets/Acceuil.png" alt="AcceuilIcon" class="icon2">
        <h1>Acceuil</h1>
    </div>
    <ul class="elements">
        <li>
            <img src="../../assets/NombreEleves.png" alt="NeleveIcon" class="icon2">
            <p class="number">{{neleves}}</p>
            <p class="label">Nombre des eleves</p>
        </li>
        <li>
            <img src="../../assets/Cravattes.png" alt="caravatte" width="40px" height="45px">
            <p class="number">{{nens}}</p>
            <p class="label">Nombre des enseignants</p>
        </li>
        <li>
            <img src="../../assets/salles.png" alt="SallesIcon" class="icon2">
            <p class="number">{{nsalles}}</p>
            <p class="label">Nombre des Salles</p>
        </li>
        <li>
            <div class="date">
                <img src="../../assets/DateMoisJours.png" alt="DateMoisJoursIcon" width="45px" height="40px">
                <p class="number">{{date}}</p>
            </div>
            <div class="time">
                <img src="../../assets/Horloge.png" alt="HorlogeIcon" width="45px" height="40px">
                <p class="number">{{time}}</p>
            </div>
        </li>
    </ul>
</div>
