<div class="content">
    <div id="InterfaceEnseignant">
        <img src="../../assets/Enseignant.png" alt="EnseignantIcon" id="EnseignantIcon">
        <h1 style="font-family: Poppins;">Enseignants</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-5 offset-4">
                <form class="was-validated" (submit)="insertProf()">
                        <label for="nom" class="form-label">Nom Prof : </label>
                        <input type="text" class="form-control" name="nom" [(ngModel)]="nom" placeholder="Entrez le nom du prof" required>
                        <label for="prenom" class="form-label" >Prenom Prof :</label>
                        <input type="text" class="form-control" name="prenom" [(ngModel)]="prenom" placeholder="Entrez le prenom du prof" required>
                        <label for="Telephone">Téléphone : </label>
                        <input type="tel" class="form-control" pattern="[0-9]{2}[0-9]{3}[0-9]{3}" [(ngModel)]="Telephone" name="Telephone" placeholder="Entrez le numéro de téléphone" required>
                        <label for="Nom Lycée">Nom lycée : </label>
                        <input type="text" class="form-control" name="Nom Lycée" [(ngModel)]="NomLy" placeholder="Entrez le nom de lycée" required>
                        <label for="Matiere">Matière : </label>
                        <select name="Matiere" id="Matiere" class="form-select" [(ngModel)]="Matiere" required>
                            <option value="Matiere" selected disabled="true">Ouvrir</option>
                            <option *ngFor = "let mat of matieres" value="{{mat.ID_SUBJ}}">{{mat.LABELSUBJ}}</option>
                        </select>
                        <div class="pt-3" *ngFor="let i of getLevels(); let j =index ">
                            <label for="level">Niveau {{j+1}}: </label>
                            <div class="add-levels">
                                <select name="level" id="level" class="form-select" [(ngModel)]="level" required [formControl]="$any(level)">
                                    <option value="level" selected disabled="true">Ouvrir</option>
                                    <option *ngFor="let level of levels" value="{{level.ID_LEVEL}}">{{level.LABEL_LEVEL}}</option>
                                </select>
                                <span (click)="deleteLevel(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                  </svg></span>
                            </div>
                            <p class="btn-ajout" (click)="addLevel()">Ajouter un autre niveau</p>
                        </div>
                        <input type="Submit" class="btn btn-primary offset-5 mt-4 " name="ButtonAjouter" value="Ajouter">
                </form>
                <p class="offset-3">{{msg}}</p>
            </div>
        </div>
    </div>

</div>
