<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Config</h5>
      <ul class="list-group list-unstyled">
        <li>
            <label for="pourcentage" class="label-form">Pourcentage:</label>
            <input type="text" class="form-control" id="pourcentage" >
        </li>
        <li>
            <label for="avancement" class="form-label">Avance:</label>
            <input type="text" class="form-control" id="pourcentage" >
        </li>
        <li>
            <label for="extra" class="form-label">Extra:</label>
            <input type="text" class="form-control" id="extra">
        </li>
      </ul>
      <br>
      <button href="#" class="btn btn-primary">Calculer!</button>
    </div>
  </div>
