<div class="content">
  <div class="InterfacePacks">
    <img src="../../assets/Packs.png" alt="PacksIcon" id="PacksIcon">
    <h1 style="font-family: Poppins;">Packs</h1>
  </div>

  <form action="" class="W-50 text-center">
    <label for="rech" class="form-label">Rechercher par Section: </label>
     <div class="input-group ">
      <select class="form-select " aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button class="input-group-text btn-success">Rechercher</button>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col-3">
      <app-pack-slot packName="Pack 1" niveau="3" section="Sciences" prix="450" [matiere]="['Math', 'Physics', 'Chemistry','algorithmique']" (data)="getEditedElement($event)"></app-pack-slot>
    </div>
    <div class="col-3">
      <app-pack-slot packName="Pack 2" niveau="4" section="Informatique" prix="300" [matiere]="['Math', 'Physics', 'algorithmique','STI']" (data)="getEditedElement($event)"></app-pack-slot>
    </div>
    <div class="col-3">
      <app-pack-slot packName="Pack 3" niveau="4" section="Lettres" prix="350" [matiere]="['Arabe','Français','Anglais','phylosophie']" (data)="getEditedElement($event)"></app-pack-slot>
    </div>
  </div>

</div>
