<div class="content">
  <div class="InterfacePacks">
    <img src="../../assets/Packs.png" alt="PacksIcon" id="PacksIcon">
    <h1 style="font-family: Poppins;">Packs</h1>
</div>
<div class="container">
  <div class="row1 d-flex align-items-center mt-5">
    <label for="1" class="mr-3" (click)="toggleItems1()">Pack n°1</label>
    <div class="toggleElm E" [style]=display1>
      <p>Informatique</p>
      <p>economique</p>
      <p>gestion</p>
      <p>Math</p>
    </div>
    <div class="Btn1">
      <button type="button" style="font-family: Poppins;" class="btn btn-info mr-3 offset">480DT</button>
        <button type="button" style="font-family: Poppins;" class="btn btn-danger mr-3 offset">Supprimer</button>
        <button type="button" style="font-family: Poppins;" class="btn btn-primary">Editer</button>
    </div>
  </div>
<div class="row1 d-flex align-items-center mt-5">
  <label for="1" class="mr-3" (click)="toggleItems2()">Pack n°2</label>
  <div class="toggleElm E" [style]=display2>
    <p>Informatique</p>
    <p>Math</p>
    <p>Physique</p>
  </div>
  <div class="Btn1">
    <button type="button" style="font-family: Poppins;" class="btn btn-info mr-3 offset">205DT</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-danger mr-3 offset">Supprimer</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-primary">Editer</button>
  </div>
</div>
<div class="row1 d-flex align-items-center mt-5">
  <label for="1" class="mr-3" (click)="toggleItems3()">Pack n°3</label>
  <div class="toggleElm E" [style]=display3>
    <p>Informatique</p>
    <p>Math</p>
    <p>Physique</p>
    <p>Science</p>
  </div>
  <div class="Btn1">
    <button type="button" style="font-family: Poppins;" class="btn btn-info mr-3 offset">300DT</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-danger mr-3 offset">Supprimer</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-primary">Editer</button>
  </div>
</div>
<div class="row1 d-flex align-items-center mt-5">
  <label for="1" class="mr-3" (click)="toggleItems4()">Pack n°4</label>
  <div class="toggleElm E" [style]=display4>
    <p>Algorithmique</p>
    <p>STI</p>
    <p>Math</p>
    <p>Physique</p>
  </div>
  <div class="Btn1">
    <button type="button" style="font-family: Poppins;" class="btn btn-info mr-3 offset">205DT</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-danger mr-3 offset">Supprimer</button>
      <button type="button" style="font-family: Poppins;" class="btn btn-primary">Editer</button>
  </div>
</div>
</div>
</div>
