.InterfacePacks{
  display: flex;
}
.InterfacePacks{
  display: flex;
  justify-content: center;
  align-items: center;
}
.InterfacePacks img{
  height: 100px ;
  width: 120px;
}
label {
  font-weight: bold;
}
