<div class="InterfaceEnseignant">
    <img src="../../assets/Enseignant.png" alt="EnseignantIcon" id="NombreElevesIcon">
    <h1 style="font-family: Poppins;">Consulter Enseignant</h1>
</div>



<div class="content mt-4">
    <form class="row g-3 align-items-center">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Nom d'Enseignant">
        </div>
        <div class="col-auto">
          <select class="form-select">
            <option selected>Choisir le niveau</option>
            <option *ngFor="let level of levels" [value]="level.IDLEVEL">{{level.LABEL_LEVEL}}</option>
          </select>
        </div>
        <div class="col-auto">
          <select class="form-select">
            <option selected>Choose la matiere</option>
            <option *ngFor="let subject of subjects" [value]="subject.IDSUBJ">{{subject.LABELSUBJ}}</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    <div *ngFor="let tutor of tutors">
        <app-tutor-slot [ngClass]="{'expandMenu':expand,wrapMenu:!expand && expand !== undefined}" (prof)="editProf($event)" (data)="getData($event)" [callbackAff]="affTutor" [nom]="tutor.F_NAMET" [prenom]="tutor.L_NAMET" [idProf]="tutor.ID_TUTOR" [lycee]="tutor.SCHOOL" [mat]="tutor.LABELSUBJ" [tel]="tutor.TEL" [idmat]="tutor.SUBJ"></app-tutor-slot>
    </div>
</div>