<div class="InterfaceEnseignant">
    <img src="../../assets/Enseignant.png" alt="EnseignantIcon" id="NombreElevesIcon">
    <h1 style="font-family: Poppins;">Consulter Enseignant</h1>
</div>



<div class="content mt-4">
    <form action="#" class="d-flex align-items-center w-50 justify-content-center offset-4">
        <div>
            <input type="text" name='nom' id="nom" [(ngModel)]="nomprenom" class="form-control w-100 mr-5" placeholder="Nom du l'enseignant" style="font-family: Poppins;">     
        </div>
        
            <div class="input-group ">
                <input type="submit" class="btn btn-success input-group-text" value="Rechercher" style="font-family: Poppins;" (click)="affByName()">
            </div>
    </form>


    <div *ngFor="let tutor of tutors">
        <app-tutor-slot [ngClass]="{'expandMenu':expand,wrapMenu:!expand && expand !== undefined}" (prof)="editProf($event)" (data)="getData($event)" [callbackAff]="affTutor" [nom]="tutor.F_NAMET" [prenom]="tutor.L_NAMET" [idProf]="tutor.ID_TUTOR" [lycee]="tutor.SCHOOL" [mat]="tutor.LABELSUBJ" [tel]="tutor.TEL" [idmat]="tutor.SUBJ"></app-tutor-slot>
    </div>
</div>